<html>
    <head>
        <title>Connectr.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.91/build/spline-viewer.js"></script>
    </head>
    <body>
      <div class="recheck">
        <p>Are you sure?</p>
        <div class="recheck-btn">
          <img src="https://i.ibb.co/kh5XsN4/delete-1.png" alt="delete chat"/>
        </div>
      </div>
      <div class="preloader">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="logo fade-in">
        <img src="https://i.ibb.co/ts2Bj3L/Logo-1.png" alt="green square" />
        <img src="https://i.ibb.co/0M6Jd2S/C.png" alt="big letter c" />
      </div>
      
      <div class="content">
        <div class="content-right-container">
          <div class="content-right-empty"><p>No chats or friends, add some at the top left or on the public list : )</p></div>
          <div>
            <div class="content-right-pfp">
              <img src="https://i.ibb.co/fkpCm6F/user.png"  class="user-img2" alt="pfp" />
            </div>
            <div class="content-right-active"></div>
            <p class="content-right-username">

            </p>
            <p class="content-right-bio">

            </p>
            <div class="content-right-star">
              <img src="https://i.ibb.co/LhFGbBT/star.png" alt="favourite user" />
              <img src="https://i.ibb.co/jG4WGMq/star-1.png" class="" alt="favourite user selected" />
            </div>
            <div class="content-right-adduser">
              <img src="https://i.ibb.co/92mrVPQ/add-user-1.png" alt="add user" />
            </div>
            <div class="content-right-adduser-maincontainer">
              <div class="search-container add-user-container add-user-open">
                <input type="text" id="add-user" placeholder="Add user">
                <div class="add-user-btn">
                  <p>&nbsp;ADD&nbsp;</p>
                </div>
              </div>
              <img src="https://i.ibb.co/92mrVPQ/add-user-1.png" alt="search" class="usr-img" />
              <p class="adduser-err-msg">ERR MESSAGE</p>
              <p>Doing this will add a new user to this chat, making him be able to see your chat history</p>
            </div>
            <div class="remove-friend-btn">
              <img src="https://i.ibb.co/kh5XsN4/delete-1.png" alt="add user" />
            </div>
            <div class="user-item-seperator content-right-seperator"></div>
          </div>
      
          <div>
      
            <div class="main-text-container">
            </div>
      
            <div class="main-message-container">
              <div class="message-actually-right">
                <!--img src="https://i.ibb.co/q7hGdW7/emoji.png" alt="emoji" /-->
                <input type="text" id="message" placeholder="Enter your message">
              </div>
              <div class="message-submit-btn">
                <img src="https://i.ibb.co/64nM4sw/btn-1.png" alt="send btn" />
                <img src="https://i.ibb.co/phS60p2/btn-2.png" alt="send btn" />
              </div>
            </div>
      
          </div>
      
        </div>
        <div class="content-left-container item-open">
          <div class="content-top">
            <img src="https://i.ibb.co/JK8M8ng/world.png" alt="public usr list" class="content-pfp public-usr-btn"/>
            <img src="https://i.ibb.co/2tS41HC/menu-1.png" alt="seperator" class="content-seperator" />
            <div class="content-pfp">
              <img src="https://i.ibb.co/fkpCm6F/user.png" alt="pfp" />
            </div>
            <div class="pfp-active"></div>
            <div class="pfp-text">{{ username['username'] }}</div>
            <img src="https://i.ibb.co/3hdKdQ9/notification.png" alt="noti" class="content-noti" />
            <p class="noti-amount"></p>
            <div class="noti-container">
              <div class="noti-spacer">
              </div>
              <div class="noti-from">
                <p class="noti-from-text">New friend request from:</p>
                <p class="noti-from-username">John dingdong</p>
                <img src="https://i.ibb.co/R6jBVfL/accept.png" alt="accept friend request" class="accept-friend-request" />
                <img src=" https://i.ibb.co/wcmncmP/delete.png" alt="deny friend request" class="deny-friend-request" />
              </div>
              <div class="noti-from">
                <p class="noti-from-text">New friend request from:</p>
                <p class="noti-from-username">John dingdong</p>
                <img src="https://i.ibb.co/R6jBVfL/accept.png" alt="accept friend request" class="accept-friend-request" />
                <img src="https://i.ibb.co/wcmncmP/delete.png" alt="deny friend request" class="deny-friend-request" />
              </div>
              <div class="noti-spacer">
              </div>
            </div>
            <img src="https://i.ibb.co/V30CFSj/dots.png" alt="settings" class="content-settings" />
            <div class="search-container">
              <input type="text" id="search" placeholder="Search">
            </div>
            <img src="https://i.ibb.co/vHsjSmS/search-interface-symbol.png" alt="search" class="search-img" />
            <div class="search-container add-friend-container">
              <input type="text" id="add-friend" placeholder="Add friend">
              <div class="add-friend-btn">
                <p>&nbsp;SEND&nbsp;</p>
              </div>
              <img src="https://i.ibb.co/yQCcycg/check-mark.png" class="add-friend-img" />
            </div>
            <div class="err-message-container">
              <p>Err message</p>
            </div>
            <img src="https://i.ibb.co/92mrVPQ/add-user-1.png" alt="search" class="friend-img" />
            <div class="add-friend">
              <img src="https://i.ibb.co/9YMgT1L/plus.png" alt="plus" />
            </div>
            <div class="nav">
              <p class="nav-item" tag="active">ACTIVE NOW<span class="underline"></span></p>
              <p class="nav-item" tag="favourite">FAVOURITE<span class="underline"></span></p>
              <p class="nav-item nav-item-active" tag="all">ALL<span class="underline"></span></p>
            </div>
            <div class="content-user-container">
            </div>
          </div>
          <div class="content-settings-container">
            <p class="settings-title">Settings</p>
            <p class="settings-exit">Done</p>
            <div></div>
            <div>
              <img src="https://i.ibb.co/fkpCm6F/user.png" class="user-img" alt="pfp" />
            </div>
            <img src="https://i.ibb.co/tpG0YgR/refresh.png" class="switch-img" alt="switch image" style="display: none" />
            <p class="item-tag">Privacy</p>
            <p class="item-public">Public</p>
            <p class="item-seperator">|</p>
            <p class="item-private item-very-active">Private</p>
            <p class="settings-logout">Logout</p>
          </div>
          <div class="content-publiclist-container">
            <p class="publiclist-title">Public user list</p>
            <p class="publiclist-exit">Exit</p>
            <div></div>
          </div>
        </div>
      <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>